<div class='panel'>
<h1>{{"Panel admina" | translate}}</h1>
<div *ngFor="let event of events">
  <div class="container">
    <div class="left-side">
      <img src="{{event.image}}" alt="">
    </div>
    <div class="right-side">
      <div class="first">
        <h2>{{event.title}}</h2>
        <h3>{{event.eventDate}}</h3>
        <div class='opis' [innerHTML]="truncateDescription(event.description, 60)"></div>
        <div>{{event.place}}</div>
        <div>{{event.location}}</div>
        <div>{{event.link}}</div>
        <div>{{event.day}}</div>
        <div>{{event.tags}}</div>
      </div>
      <div class="second">
        <a ><button class="btn-primary" (click)="acceptPost(event.postId)">{{"Zaakceptuj" | translate}}</button></a>
        <a ><button class="btn-secondary" (click)="deletePost(event.postId)">{{"Usuń" | translate}}</button></a>
      </div>
    </div>
  </div>
</div>
</div>
