backend/obj/Debug/net7.0/wBialy.GeneratedMSBuildEditorConfig.editorconfig
backend/obj/project.assets.json
backend/obj/project.nuget.cache
backend/obj/wBialy.csproj.nuget.dgspec.json
backend/obj/wBialy.csproj.nuget.g.props
backend/obj/Debug/net7.0/wBialy.csproj.AssemblyReference.cache
backend/obj/Debug/net7.0/wBialy.GeneratedMSBuildEditorConfig.editorconfig
backend/.vs/ProjectEvaluation/wbialy.metadata.v7.bin
backend/.vs/ProjectEvaluation/wbialy.metadata.v7.bin
backend/.vs/ProjectEvaluation/wbialy.projects.v7.bin
backend/.vs/ProjectEvaluation/wbialy.metadata.v7.bin
backend/.vs/wBialy/DesignTimeBuild/.dtbcache.v2
backend/.vs/wBialy/FileContentIndex/5b2ed5e4-618a-4225-be70-20bdaabfc48c.vsidx
backend/.vs/wBialy/FileContentIndex/e6975d8f-9dab-4060-9285-fa3066080a90.vsidx
backend/.vs/wBialy/v17/.futdcache.v2
backend/.vs/wBialy/v17/.suo
backend/bin/Debug/net7.0/wBialy.dll
backend/bin/Debug/net7.0/wBialy.exe
backend/bin/Debug/net7.0/wBialy.pdb
backend/obj/Debug/net7.0/ref/wBialy.dll
backend/obj/Debug/net7.0/refint/wBialy.dll
backend/obj/Debug/net7.0/wBialy.dll
backend/obj/Debug/net7.0/wBialy.MvcApplicationPartsAssemblyInfo.cs
backend/obj/Debug/net7.0/wBialy.pdb
*.log
backend/.vs/ProjectEvaluation/wbialy.metadata.v7.bin
backend/.vs/ProjectEvaluation/wbialy.projects.v7.bin
backend/.vs/wBialy/DesignTimeBuild/.dtbcache.v2
backend/.vs/wBialy/v17/.futdcache.v2
backend/.vs/wBialy/v17/.suo
