backend/obj/Debug/net7.0/wBialy.GeneratedMSBuildEditorConfig.editorconfig
backend/obj/project.assets.json
backend/obj/project.nuget.cache
backend/obj/wBialy.csproj.nuget.dgspec.json
backend/obj/wBialy.csproj.nuget.g.props
backend/obj/Debug/net7.0/wBialy.csproj.AssemblyReference.cache
backend/obj/Debug/net7.0/wBialy.GeneratedMSBuildEditorConfig.editorconfig
