<div class="container">
    <div class="up">
        <div class="social">
            <a href="#">
                <fa-icon size="2xl" style="color:rgb(46, 67, 255);" [icon]="faFacebook" ></fa-icon>
            </a>
        </div>
        <div class="social">
            <a href="#">
                <fa-icon size="2xl" style="color:rgb(255, 0, 98);" [icon]="faInstagram"></fa-icon>
            </a>
        </div>
        <div class="social">
            <a href="#">
                <fa-icon size="2xl" style="color:rgb(0, 204, 255);" [icon]="faTwitter"></fa-icon>
            </a>
        </div>
        <div class="social">
            <a href="#">
                <fa-icon size="2xl" style="color:rgb(41, 219, 80);" [icon]="faWhatsapp"></fa-icon>
            </a>
        </div>
    </div>
    <div class="down">
        <div class="logo">
            <img src = "../../assets/icons/VectorWhole.svg" alt="Logo Wbialy" class="WholeLogo"/>
          </div>
          <div>
            <p>© Copyright WBialy {{year}}</p>
          </div>
    </div>
</div>