<div class="container">
  <div class="up">
    <div class="social">
      <a href="#">
        <fa-icon size="2xl" class="icon" [icon]="faFacebook"></fa-icon>
      </a>
    </div>
    <div class="social">
      <a href="#">
        <fa-icon size="2xl" class="icon" [icon]="faInstagram"></fa-icon>
      </a>
    </div>
    <div class="social">
      <a href="#">
        <fa-icon size="2xl" class="icon" [icon]="faTwitter"></fa-icon>
      </a>
    </div>
    <div class="social">
      <a href="#">
        <fa-icon size="2xl" class="icon" [icon]="faWhatsapp"></fa-icon>
      </a>
    </div>
  </div>
  <div class="down">
    <div class="logo">
      <img
        src="../../assets/icons/VectorWhole.svg"
        alt="Logo Wbialy"
        class="WholeLogo"
      />
    </div>
    <div>
      <p>© Copyright WBialy {{ year }}</p>
      <div class="language">
        <p>{{"Język" |translate}} </p>
      <button (click)="switchLanguage()">{{"PL" | translate}}</button>
      </div>
    </div>
  </div>
</div>
