<div class="container">
  <div id="circle"></div>
  <div id="circle"></div>
  <div class="logo">
    <img
      src="../../assets/icons/VectorWhole.svg"
      alt="Logo Wbialy"
      class="WholeLogo"
    />
  </div>
  <div class="title">
    <h1>{{ "Stwórz z Nami lepszy Białystok" | translate }}</h1>
  </div>
  <div class="form">
    <form action="action_page.php" style="border: 1px solid #ccc">
      <div class="form-container">
        <h2>{{ "Wprowadź swoje dane" | translate }}</h2>
        <br />
        <div class="input-end">
          <mat-label>{{ "Email" | translate }}</mat-label>
          <input
            matInput
            placeholder="Email"
            [formControl]="email"
            [(ngModel)]="user.Email"
            required
          />
          <mat-error *ngIf="email.invalid">{{
            getErrorMessage() | translate
          }}</mat-error>
        </div>

        <div class="input-end">
          <mat-label>{{ "Hasło" | translate }}</mat-label>
          <input
            matInput
            placeholder="Password"
            [formControl]="password"
            [(ngModel)]="user.Password"
            type="password"
            required
          />
          <mat-error *ngIf="password.invalid">{{
            getPasswordMessage() | translate
          }}</mat-error>
        </div>

        <div class="input-end">
          <mat-label>{{ "Powtórz hasło" | translate }}</mat-label>
          <input
            matInput
            placeholder="Repeat Password"
            [formControl]="passwordConfirm"
            [(ngModel)]="user.PasswordConfirm"
            type="password"
            required
          />
          <mat-error *ngIf="passwordConfirm.invalid">{{
            getPasswordConfirmMessage() | translate
          }}</mat-error>
        </div>
        <re-captcha (resolved)="resolved($event)" siteKey=""></re-captcha>
        <p>
          {{ "Tworząc konto zgadzasz się na" | translate }}
          <a href="#" style="color: var(--primary-color)">{{
            "Warunki i prywatność" | translate
          }}</a
          >.
        </p>
        <br />
        <div class="buttons">
          <a>
            <button type="button" class="btn-primary" (click)="onSubmit()">
              {{ "Zarejestruj" | translate }}
            </button>
          </a>
          <a routerLink="/login">
            <button type="submit" class="btn-secondary">
              {{ "Mam już konto" | translate }}
            </button>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
