<div class="container">
  <div id="circle"></div>
  <div id="circle"></div>
    <div class="logo">
        <img src = "../../assets/icons/VectorWhole.svg" alt="Logo Wbialy" class="WholeLogo"/>
    </div>
    <div class="title">
        <h1> Stwórz z Nami lepszy Białystok</h1>
    </div>
    <div class="form">
        <form action="action_page.php" style="border:1px solid #ccc">
            <div class="form-container">
              <h2>Wprowadź swoje dane</h2>
                <br>
              <label for=""><b>Adres email</b></label>
              <input type="text" placeholder="Email" name="Email" [(ngModel)]="user.Email" required>

              <label for=""><b>Hasło</b></label>
              <input type="password" placeholder="Password" name="Password" [(ngModel)]="user.Password" required>

              <label for=""><b>Powtórz hasło</b></label>
              <input type="password" placeholder="Repeat Password" name="PasswordConfirm" [(ngModel)]="user.PasswordConfirm" required>

              <p>Tworząc konto zgadzasz się na <a href="#" style="color:var(--primary-color);">Warunki i prywatność</a>.</p>
              <br>
              <div class="buttons">
                <a routerLink="/login">
                  <button type="button" class="btn-primary" (click)="onSubmit()">Zarejestruj</button>
                </a>
                <a routerLink="/login">
                  <button type="submit" class="btn-secondary">Mam już konto</button>
                </a>
              </div>
            </div>
          </form>
    </div>
</div>
