<div class="container">
  <div id="circle"></div>
  <div id="circle"></div>
    <div class="logo">
        <img src = "../../assets/icons/VectorWhole.svg" alt="Logo Wbialy" class="WholeLogo"/>
    </div>
    <div class="title">
        <h1> Stwórz z Nami lepszy Białystok</h1>
    </div>
    <div class="form">
        <form action="action_page.php" style="border:1px solid #ccc">
            <div class="form-container">
              <h2>Wprowadź swoje dane</h2>
                <br>
              <label for="email"><b>Adres email</b></label>
              <input type="text" placeholder="Email" name="email" required>
          
              <label for="psw"><b>Hasło</b></label>
              <input type="password" placeholder="Password" name="psw" required>
          
              <label for="psw-repeat"><b>Powtórz hasło</b></label>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
          
              <p>Tworząc konto zgadasz się na <a href="#" style="color:#18A0FB;">Warunki i prywatność</a>.</p>
              <br>
              <div class="buttons">
                <button type="button" class="btn-primary">Zarejestruj</button>
                <button type="submit" class="btn-secondary">Mam już konto</button>
              </div>
            </div>
          </form>
    </div>
</div>
