<div class="container">
    <div id="circle"></div>
    <div id="circle"></div>
      <div class="logo">
          <img src = "../../assets/icons/VectorWhole.svg" alt="Logo Wbialy" class="WholeLogo"/>
      </div>
      <div class="title">
          <h1>{{"Cieszymy się, że do nas wracasz :)" | translate}}</h1>
      </div>
      <div class="form">
          <form style="border:1px solid #ccc">
              <div class="form-container">
                <h2>{{"Wprowadź swoje dane" | translate}}</h2>
                  <br>
                <div class="input-end">
                  <label for="">{{"Adres email" | translate}}</label>
                  <input type="text" placeholder="Email" name="email" [(ngModel)]="user.Email" required>
                </div>

                <div class="input-end">
                  <label for="">{{"Hasło" | translate}}</label>
                  <input type="password" placeholder="Password" name="psw" [(ngModel)]="user.Password" required>
                  <mat-error *ngIf="this.errorMessage">{{this.errorMessage | translate}}</mat-error>
                </div>

                <p>{{"Aby dowiedzieć się więcej, przeczytaj" | translate}} <a href="#" style="color:var(--primary-color);">{{"Warunki i prywatność" | translate}}</a>.</p>
                <br>
                <div class="buttons">
                  <button type="button" class="btn-primary" (click)="onSubmit()">{{"Zaloguj" | translate}}</button>
                  <button type="submit" class="btn-secondary">{{"Załóż konto" | translate}}</button>
                </div>
              </div>
            </form>
      </div>
  </div>
