
.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: var(--background-color);
    align-items: center;
    justify-items: center;
    border: 1px solid var(--primary-color);

    .form{
        display: flex;
        flex-direction: column;
        background-color: var(--background-color);
        width: 100%;
      
        h2{
            font-style: bold;
            font-size: 2rem;
        }
    }

    @media (max-width: 800px){
      #circle{
        display: none;
      }
    }

    .item{
      background-color: var(--background-color);
      border: none;
      outline: none;
      color: var(--primary-color);

    }

    .itemgroup{
      border: none;
      border-radius: 0;
      outline: none;
    }

}

