<div class="container">
  <div class="header">
    <mat-button-toggle-group class="itemgroup"  [(ngModel)]="selectedToggleValue">
        <mat-button-toggle class="item" value="Post">Post</mat-button-toggle>
        <mat-button-toggle class="item" value="L&F">Zgubione & Znalezione</mat-button-toggle>
        <mat-button-toggle class="item" value="Gastro">Gastro</mat-button-toggle>
      </mat-button-toggle-group>
  </div>
  <div class="form">
    <app-add-event-post *ngIf="selectedToggleValue === 'Post'"></app-add-event-post>
    <app-add-lf-post *ngIf="selectedToggleValue === 'L&F'"></app-add-lf-post>
    <app-add-gastro-post *ngIf="selectedToggleValue === 'Gastro'"></app-add-gastro-post>
  </div>
</div>
