
.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #fff;
    align-items: center;
    justify-items: center;

    .form{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
      
        h2{
            font-style: bold;
            font-size: 2rem;
        }
    }

    @media (max-width: 800px){
      #circle{
        display: none;
      }
    }

    .item{
      border: none;
      outline: none;
      color: #18A0FB;

    }

    .itemgroup{
      border: none;
      border-radius: 0;
      outline: none;
    }

}

