<div class="container">
    <div id="circle"></div>
    <div id="circle"></div>
  <form action="action_page.php" class="form" style="border:1px solid #ccc">
    <div class="form-container">
      <h2>Dodawanie postu</h2>
      <br>
      <label for="">Tytuł</label>
      <input type="text" name="tytul" [(ngModel)]="postToAdd.title" required>
  
      <label for="">Opis</label>
      <input type="text" name="opis" [(ngModel)]="postToAdd.description" required>
  
      <label for="">Link do zdjęcia</label>
      <input type="text" name="img" [(ngModel)]="postToAdd.image" required>
  
      <label for="">Miejsce</label>
      <input type="text" name="miejsce" [(ngModel)]="postToAdd.place" required>
  
      <label for="">Data</label>
      <input type="datetime-local" name="tytul" [(ngModel)]="postToAdd.eventDate" required>
  
      <label for="">Link</label>
      <input type="text" name="link" [(ngModel)]="postToAdd.link" required>
  
        <div class="buttons">
          <a><button (click)="onSubmit()" class="btn-secondary">Stwórz</button></a>
        </div>
    </div>
    </form>
  </div>