<form action="action_page.php" class="form" style="border:1px solid #ccc">
    <div class="form-container">
      <h2>Gastro</h2>
      <br>
      <label for="">Tytuł</label>
      <input type="text" name="tytul" [(ngModel)]="postToAdd.title" required>

      <label for="">Opis</label>
      <input type="text" name="opis" [(ngModel)]="postToAdd.description" required>

      <label for="">Link do zdjęcia</label>
      <input type="file" accpet="image/*" name="img" (change)="onFileSelected($event)" required>

      <label for="">Miejsce</label>
      <input #placesRef="ngx-places" ngx-gp-autocomplete (onAddressChange)="handleAddressChange($event)" type="text" name="miejsce" [(ngModel)]="postToAdd.place" required/>

      <label for="">Dzień</label>
      <select [(ngModel)]="postToAdd.day" required>
        <option value="poniedziałek">Poniedziałek</option>
        <option value="wtorek">Wtorek</option>
        <option value="środa">Środa</option>
        <option value="czwartek">Czwartek</option>
        <option value="piątek">Piątek</option>
        <option value="sobota">Sobota</option>
        <option value="niedziela">Niedziela</option>
      </select>
      <br>
      <label for="">Link</label>
      <input type="text" name="link" [(ngModel)]="postToAdd.link" required>

        <div class="buttons">
          <a><button (click)="onSubmit()" class="btn-secondary">Stwórz</button></a>
        </div>
    </div>
    </form>
