<form class="form">
    <div class="form-container">
      <h2>Zgubione i znalezione</h2>
      <br>
      <label for="">Tytuł</label>
      <input type="text" name="tytul" [(ngModel)]="postToAdd.title" required>

      <label for="">Opis</label>
      <input type="text" name="opis" [(ngModel)]="postToAdd.description" required>

      <label for="">Tagi</label>
      <br>
      <mat-form-field>
        <mat-label>Tagi</mat-label>
        <mat-select class="selectTag" [formControl]="toppings" [(value)]="selectedToppings" multiple>
          <mat-option *ngFor="let tag of allTags" [value]="tag.name">{{tag.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <label for="">Link do zdjęcia</label>
      <input type="file" accpet="image/*" name="img" (change)="onFileSelected($event)" required>

      <label for="">Miejsce</label>
      <input #placesRef="ngx-places" ngx-gp-autocomplete (onAddressChange)="handleAddressChange($event)" type="text" name="miejsce" [(ngModel)]="postToAdd.place" required/>

        <div class="buttons">
          <a><button (click)="onSubmit()" class="btn-secondary">Stwórz</button></a>
        </div>
    </div>
    </form>
