<app-home></app-home>
<div class="container" *ngFor="let event of events">
  <div class="left-side">
    <img src="{{event.image}}" alt="">
  </div>
  <div class="right-side">
    <div>
      <h1>{{event.title}}</h1>
      <h2>{{event.eventDate}}</h2>
    </div>
    <p>{{event.description}}</p>
    <button class="btn-primary" (click)="showEvent(event)">Dołącz</button>
  </div>
</div>
<div class="pagination">
    <div class="buttons">
        <button class="btn-primary" (click)="backPage()" >Poprzednia strona</button>
        <button class="btn-primary"(click)="nextPage()">Następna strona</button>
    </div>
</div>
