<mat-drawer-container class="events" autosize style="background-color: var(--background-color);">
<div class="home">
    <h1><img src = "../../assets/icons/VectorWhole.svg" alt="Logo Wbialy" class="WholeLogo"/> - Zgubione i znalezione</h1>
    <div>
        <mat-button-toggle-group class="toggle" name="fontStyle" aria-label="Font Style"  [(ngModel)]="selectedValue">
            <mat-button-toggle class="toggle item" value="zgubione">Zgubione</mat-button-toggle>
            <mat-button-toggle class="toggle item" value="znalezione">Znalezione</mat-button-toggle>
          </mat-button-toggle-group>
      </div>
    <div class="lf-container">
      <div class="container" *ngFor="let event of events">
        <div class="card">
          <img src="{{event.image}}" style="width:100%">
          <h2>{{event.title}}</h2>
          <div [innerHTML]="event.description"></div>z
        </div>
      </div>
  </div>

  </div>
  <mat-drawer #drawer mode="side" position="end" class="filterDrawer">
    <h1>Filtruj</h1>
    <mat-form-field>
      <mat-label>Tagi</mat-label>
      <mat-select  [formControl]="toppings" [(value)]="selectedToppings" multiple>
        <mat-option *ngFor="let tag of allTags" [value]="tag.name">{{tag.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>Tagi: {{selectedToppings}}</p>
    <br>
    <button type="button" class="btn-primary btn" (click)="drawer.toggle();sendFilters()">
      Filtruj
    </button>
    <button type="button" class="btn-secondary btn" (click)="clearTags()">Usuń filtry</button>

  </mat-drawer>
  <button class="handleFilters" (click)="drawer.toggle()">
    <fa-icon size="xl" [icon]="faFilter"></fa-icon>
  </button>
</mat-drawer-container>
