<form class="form">
  <div class="form-container">
    <h2>{{"Zgubione i znalezione" | translate}}</h2>
    <br />
    <div class="input-end">
      <mat-label>{{"Tytuł" | translate}}</mat-label>
      <input
        matInput
        placeholder="Tytuł"
        [formControl]="title"
        [(ngModel)]="newPost.title"
        required
      />
      <mat-error *ngIf="title.invalid">{{ getErrorTitleMessage() | translate }}</mat-error>
    </div>

    <div class="input-end">
      <mat-label>{{"Opis" | translate}}</mat-label>
      <ckeditor
        class="desc"
        [formControl]="description"
        [editor]="Editor"
        [config]="config"
        data=""
        (ready)="onReady($event)"
        (blur)="onChange($event)"
      >
      </ckeditor>
      <mat-error *ngIf="description.invalid">{{
        getErrorDescriptionMessage() | translate
      }}</mat-error>
    </div>

    <label for="">{{"Tagi" | translate}}</label>
    <div class="input-end">
      <mat-form-field>
        <mat-label>{{"Tagi" | translate}}</mat-label>
        <mat-select
          class="selectTag"
          [formControl]="toppings"
          [(value)]="selectedToppings"
          multiple
        >
          <mat-option *ngFor="let tag of allTags" [value]="tag.name">{{
            tag.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="toppings.invalid">{{
        getErrorToppingsMessage() | translate
      }}</mat-error>
    </div>
    <div class="input-end">
      <section class="example-section">
        <label class="example-margin">{{"Typ" | translate}}:</label>
        <mat-radio-group
          [(ngModel)]="type"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-radio-button class="example-margin" value="zgubione"
            >{{"Zgubione" | translate}}</mat-radio-button
          >
          <mat-radio-button class="example-margin" value="znalezione"
            >{{"Znalezione" | translate}}</mat-radio-button
          >
        </mat-radio-group>
      </section>
    </div>
    <div class="input-end">
      <label for="">{{"Link do zdjęcia" | translate}}</label>
      <input
        type="file"
        accpet="image/*"
        name="img"
        (change)="onFileSelected($event)"
        required
      />
    </div>

    <div class="input-end">
      <mat-label>{{"Miejsce" | translate}}</mat-label>
      <br />
      <input
        #placesRef="ngx-places"
        ngx-gp-autocomplete
        (onAddressChange)="handleAddressChange($event)"
        matInput
        placeholder="Miejsce"
        [formControl]="place"
        [(ngModel)]="newPost.place"
        required
      />
      <mat-error *ngIf="place.invalid">{{ getErrorPlaceMessage() | translate }}</mat-error>
    </div>
    <div class="buttons">
      <a><button (click)="onSubmit()" class="btn-secondary">{{"Edytuj" | translate}}</button></a>
    </div>
  </div>
</form>
