<nav class="navbar">
    <div class="left-side">
      <div class="logo">
        <img src = "../../assets/icons/VectorWhole.svg" alt="Logo Wbialy" class="WholeLogo"/>
        <img src = "../../assets/icons/VectorLogo.svg" alt="Logo W" class="ShortLogo" />
      </div>
      <div class="nav-items" [class.is-open]="isMenuOpen">
        <a routerLink="/news">Nowości</a>
        <a routerLink="/pricing">Cennik</a>
        <a routerLink="/social">Sociale</a>
        <a routerLink="/contact">Kontakt</a>
      </div>
    </div>
    <div class="right-side">
      <button *ngIf="!isLogged" (click)="isLogged=!isLogged" class="btn-secondary">Zaloguj</button>
      <button *ngIf="!isLogged" class="btn-primary">Zarejestruj</button>
      <button *ngIf="isLogged" class="btn-primary">Twój profil</button>
      <div class="burger">
        <i (click)="toggleMenu()" class="material-icons">{{ isMenuOpen ? "close" : "menu"}}</i>
    </div>
    </div>
  </nav>
