<div class="container">
    <div class="description">
      <div>
        <h1>{{event.title}}</h1>
      </div>
      <div class="items">
        <div>
            <p>📅 Data: {{event.eventDate}}</p>
          </div>
        <div>
            <p>⌚ Godzina rozpoczęcia: {{event.place}}</p>
        </div>
        <div class="long-list">
            <p>📌 Miejsce: {{event.place}}&nbsp;<a href="{{event.link}}">(pokaż na mapie)</a></p>
            <div class="buttons">
                <button class="btn-primary">Zobacz wydarzenie</button>
                <button class="btn-secondary">Dodaj do kalendarza</button>
            </div>
        </div>
      </div>
    </div>
    <div class="image">
        <img src="{{event.image}}" alt="">
    </div>
  </div>
