<div class="container">
  <div class="description">
    <div>
      <h1>{{ event.title }}</h1>
    </div>
    <div class="items">
      <div>
        <p>📅 {{"Data" | translate}}: {{ date }}</p>
      </div>
      <div>
        <p>⌚ {{"Godzina rozpoczęcia" | translate}}: {{ hour }}</p>
      </div>
      <div class="long-list">
        <p>
          📌 {{"Miejsce" | translate}}: {{ event.place }}&nbsp;<a
            href="{{ event.location }}"
            target="_blank"
            >{{"(pokaż na mapie)" | translate}}</a
          >
        </p>
        <div class="buttons">
          <a href="{{ event.link }}" target="_blank"
            ><button class="btn-primary">{{"Zobacz wydarzenie" | translate}}</button></a
          >
          <button class="btn-secondary">{{"Dodaj do kalendarza" | translate}}</button>
          <div class="likecount">
          <button class="btn-heart" [disabled]="!isLogged" (click)="toggleLike()" [ngClass]="{'clicked': isLiked}">
            <fa-icon [icon]="faHeart"></fa-icon>
          </button>
          <p>{{likeCount}}</p>
        </div>
        </div>
      </div>
    </div>
    <div [innerHTML]="event.description"></div>
  </div>
  <div class="image">
    <img src="{{ event.image }}" alt="" />
    <button class="delete" *ngIf="isAdmin" (click)="deletePost(event.postId)">{{"Usuń post" | translate}}</button>
  </div>
</div>
