<h1>{{"Posty niezatwierdzone" | translate}}</h1>
<div *ngFor="let event of userEvents">
  <div *ngIf="!event.confirmed" class="container">
  <div class="left-side">
    <img src="{{event.image}}" alt="">
  </div>
  <div class="right-side">
    <div class="first">
      <h2>{{event.title}}</h2>
      <h3>{{event.eventDate}}</h3>
      <div class='opis' [innerHTML]="truncateDescription(event.description, 30)"></div>
    </div>
    <div class="second">
      <a ><button class="btn-primary" (click)="editEvent(event)">{{"Edytuj" | translate}}</button></a>
      <a ><button class="btn-secondary" (click)="deleteEvent(event.postId)">{{"Usuń" | translate}}</button></a>
    </div>
  </div>
  </div>
</div>
