<div class="home">
    <h1><img src = "../../assets/icons/VectorWhole.svg" alt="Logo Wbialy" class="WholeLogo"/> - Strefa Gastro</h1>
    <div>
        <mat-button-toggle-group class="toggle" name="fontStyle" aria-label="Font Style"  [(ngModel)]="selectedToggleValue">
            <mat-button-toggle class="toggle item" value="poniedziałek">Pn</mat-button-toggle>
            <mat-button-toggle class="toggle item" value="wtorek">Wt</mat-button-toggle>
            <mat-button-toggle class="toggle item" value="środa">Śr</mat-button-toggle>
            <mat-button-toggle class="toggle item" value="czwartek">Czw</mat-button-toggle>
            <mat-button-toggle class="toggle item" value="piątek">Pt</mat-button-toggle>
            <mat-button-toggle class="toggle item" value="sobota">Sob</mat-button-toggle>
            <mat-button-toggle class="toggle item"value="niedziela">Nd</mat-button-toggle>
          </mat-button-toggle-group>
      </div>
    <div class="gastro-container">
      <div class="container" *ngFor="let event of events">
        <a href="{{event.link}}" target="_blank">
        <div class="card">
          <img src="{{event.image}}" style="width:100%">
          <h2>{{event.title}}</h2>
          <p class="date">{{event.day}}</p>
          <p class="opis">{{event.description}}</p>
          <p><button class="btn-primary">Sprawdź</button></p>
        </div>
        </a>
      </div>
  </div>

  </div>
