<mat-drawer-container class="events" autosize style="background-color: var(--background-color);">
<div class="home">
    <h1><img src = "../../assets/icons/VectorWhole.svg" alt="Logo Wbialy" class="WholeLogo"/> - Strefa Gastro</h1>
    <div>
        <mat-button-toggle-group class="toggle" name="fontStyle" aria-label="Font Style" #group="matButtonToggleGroup"  [(ngModel)]="selectedToggleValue">
          <mat-button-toggle class="toggle item" value="poniedziałek" (click)="getGastroPosts(group.value)">Pn</mat-button-toggle>
          <mat-button-toggle class="toggle item" value="wtorek" (click)="getGastroPosts(group.value)">Wt</mat-button-toggle>
          <mat-button-toggle class="toggle item" value="środa" (click)="getGastroPosts(group.value)">Śr</mat-button-toggle>
          <mat-button-toggle class="toggle item" value="czwartek" (click)="getGastroPosts(group.value)">Czw</mat-button-toggle>
          <mat-button-toggle class="toggle item" value="piątek" (click)="getGastroPosts(group.value)">Pt</mat-button-toggle>
          <mat-button-toggle class="toggle item" value="sobota" (click)="getGastroPosts(group.value)">Sob</mat-button-toggle>
          <mat-button-toggle class="toggle item"value="niedziela" (click)="getGastroPosts(group.value)">Nd</mat-button-toggle>
          </mat-button-toggle-group>
      </div>
  <mat-drawer #drawer mode="side" position="end" class="filterDrawer">
    <mat-form-field>
      <mat-label>Tagi</mat-label>
      <mat-select  [formControl]="toppings" [(value)]="selectedToppings" multiple>
        <mat-option *ngFor="let tag of allTags" [value]="tag.name">{{tag.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>Tagi: {{selectedToppings}}</p>
    <br>
    <button type="button" class="btn-primary btn" mat-button (click)="drawer.toggle();sendFilters()">
      Filtruj
    </button>
    <button (click)="clearTags()">Usuń filtry</button>

  </mat-drawer>
    <div class="gastro-container">
      <div class="container" *ngFor="let event of events">
        <a href="{{event.link}}" target="_blank">
        <div class="card">
          <img src="{{event.image}}" style="width:100%">
          <h2>{{event.title}}</h2>
          <p class="date">{{event.day}}</p>
          <p class="opis">{{event.description}}</p>
          <p><button class="btn-primary">Sprawdź</button></p>
        </div>
        </a>
      </div>
  </div>

  </div>
  <button class="handleFilters" (click)="drawer.toggle()">
    <fa-icon size="xl" [icon]="faFilter"></fa-icon>
  </button>
</mat-drawer-container>
