
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-primary: mat.define-palette(mat.$indigo-palette);
$web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-theme: mat.define-light-theme((
  color: (
    primary: $web-primary,
    accent: $web-accent,
    warn: $web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($web-theme);


@font-face {
    font-family: 'Monsterrat';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Monsterrat';

    letter-spacing: -0.225px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
  width: 0.7em;
  background-color: rgb(204, 204, 204);
}
 
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(110, 110, 110);
}

:root {
  --background-color: #ffffff;
  --background-hover-color: #eee;
  --primary-color: #18A0FB;
  --border-color: rgba(0, 0, 0, 0.25);
  --font-color: black;
  --font-secondary-color: rgba(0, 0, 0, 0.5);
  --logo-color: 0%;
}

.dark-mode{
  --background-color: #1a1a1a;
  --background-hover-color: #272727;
  --primary-color: #18a0fb;
  --border-color: rgba(228, 228, 228, 0.25);
  --font-color: rgb(238, 238, 238);
  --font-secondary-color: rgba(255, 255, 255, 0.5);
  --logo-color: 100%;
}

.mat-mdc-snack-bar-container {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  &.custom-snackbar {
    --mdc-snackbar-container-color: var(--background-hover-color);
    --mat-mdc-snack-bar-button-color: var(--primary-color);
    --mdc-snackbar-supporting-text-color:  var(--font-color);
  }
  .custom-snackbar{
    display: flex;
    align-items: center; 
    justify-content: space-around;
  }
  .mdc-button__label{
    color: var(--primary-color);
  }
  .mdc-button, .mat-mdc-button, .mat-accent, .mat-mdc-button-base, .cdk-focues, .cdk-mouse-focused{

      background-color:hsla(204, 100%, 50%, 0.2);

  }
}

.mdc-form-field{
  .mat-mdc-radio-button .example-margin .mat-accent{
    color: var(--font-color);
  }
  .mdc-label{
    color: var(--font-color);
  }
  .mdc-radio{
    .mdc-radio__background{
      color: var(--font-color);
    } 
    color: var(--font-color);
  }
}

.mat-mdc-radio-button.mat-accent{
  --mdc-radio-unselected-icon-color:  var(--font-color);
}


