<form class="form">
  <div class="form-container">
    <h2>Event</h2>
    <br />

    <div class="input-end">
      <mat-label>Tytuł</mat-label>
      <input
        matInput
        placeholder="Tytuł"
        [formControl]="title"
        [(ngModel)]="newEvent.title"
        required
      />
      <mat-error *ngIf="title.invalid">{{ getErrorTitleMessage() }}</mat-error>
    </div>

    <div class="input-end">
      <mat-label>Opis</mat-label>
      <ckeditor
        class="desc"
        [formControl]="description"
        [editor]="Editor"
        [config]="config"
        data=""
        (ready)="onReady($event)"
        (blur)="onChange($event)"
      >
      </ckeditor>
      <mat-error *ngIf="description.invalid">{{
        getErrorDescriptionMessage()
      }}</mat-error>
    </div>

    <label for="">Tagi</label>
    <div class="input-end">
      <mat-form-field>
        <mat-label>Tagi</mat-label>
        <mat-select
          class="selectTag"
          [formControl]="toppings"
          [(value)]="selectedToppings"
          multiple
        >
          <mat-option *ngFor="let tag of allTags" [value]="tag.name">{{
            tag.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="toppings.invalid">{{
        getErrorToppingsMessage()
      }}</mat-error>
    </div>

    <div class="input-end">
      <label for="">Link do zdjęcia</label>
      <input
        type="file"
        accept="image/*"
        name="img"
        (change)="onFileSelected($event)"
        required
      />
    </div>

    <div class="input-end">
      <mat-label>Miejsce</mat-label>
      <br />
      <input
        #placesRef="ngx-places"
        ngx-gp-autocomplete
        (onAddressChange)="handleAddressChange($event)"
        matInput
        placeholder="Miejsce"
        [formControl]="place"
        [(ngModel)]="newEvent.place"
        required
      />
      <mat-error *ngIf="place.invalid">{{ getErrorPlaceMessage() }}</mat-error>
    </div>

    <div class="input-end">
      <mat-label>Data</mat-label>
      <br />
      <input
        type="datetime-local"
        name="data"
        [formControl]="date"
        [(ngModel)]="newEvent.eventDate"
        required
      />
      <mat-error *ngIf="date.invalid">{{ getErrorDateMessage() }}</mat-error>
    </div>

    <div class="input-end">
      <label for="">Link</label>
      <input type="text" name="link" [(ngModel)]="newEvent.link" required />
    </div>

    <div class="buttons">
      <a
        ><button (click)="onSubmit(newEvent)" class="btn-secondary">
          Edytuj
        </button></a
      >
    </div>
  </div>
</form>
